{{! Detailed instructions can be found in the Documentation >> Services >> Disqus }}

{{!--
<div id="disqus_thread" class="disqus-lazy">
	<script>
	var disqus_id = "XXXXX",
		disqus_config = function () {
		this.page.url = "{{url absolute="true"}}";
		this.page.identifier = "ghost-{{comment_id}}"
	};
	</script>
</div>
--}}
